@model Assignment4_DucMinhHuynh.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show of teacher</h2>
<div>|| @Model.teacherfname || @Model.teacherlname || @Model.salary || @Model.hiredate || <button><a href="../DeleteConfirm/@Model.teacherid">Delete</a></button> </div>
